.filter {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  @media screen and (min-width: $min-tablet) {
    justify-content: center;
  }
}
.filter__item {
  &:nth-child(-n + 3) {
    @media screen and (max-width: $max-mobile) {
      margin-bottom: 15px;
    }
  }
  &:not(:last-child) {
    margin-right: 8px;
  }
}
// .filter__item {
//   display: inline-block;
// }

.button.primary {
  background-color: $accent-text-color;
  color: $accent-white-color;
}
.filter__button {
  color: $primary-text-color;
  background-color: $second-bg-color;
  transition-property: color, border-color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__button:hover {
  background-color: $accent-text-color;
  color: $accent-white-color;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button.secondary:focus {
  background-color: $accent-text-color;
  color: $accent-white-color;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px;
  border-color: $second-bg-color;
  border-radius: 4px;
  border-style: none;
  font-family: inherit;
  min-width: 73px;
  cursor: pointer;
}
