.footer {
  background-color: $bg-color;
  padding-bottom: 60px;
  padding-top: 60px;
}
.footer-container {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}
.footer-logo {
  display: inline-block;

  margin-bottom: 20px;
  color: $accent-white-color;
  font-family: Raleway, sans-serif;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.19;
}
.address-box__address {
  margin-bottom: 9px;
  color: $accent-white-color;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-box__address:hover,
.address-box__address:focus {
  color: $accent-text-color;
}
.address-box {
  margin-right: 70px;
}
.footer-contacts__item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-contacts {
  font-size: 14px;
  line-height: 1.71;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts__link {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts__link:hover,
.footer-contacts__link:focus {
  color: $accent-text-color;
}
.social__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $accent-white-color;
}
.social__icon {
  display: flex;
  fill: $border-color;
  fill: currentColor;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: block;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: $accent-white-color;
  height: 44px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover,
.social__link:focus {
  background-color: $accent-text-color;
}
/* Подвал форм */

.subscribe {
  display: flex;
  align-items: flex-end;
  margin: 0;
  margin-left: 93px;
}
.subscribe__label {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.subscribe__text {
  margin-bottom: 20px;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: $accent-white-color;
}
.subscribe__input {
  font-size: 15px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  display: inline-block;
  width: 358px;
  padding: 15px 16px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin: 0;
  background-color: inherit;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe__input:focus-visible {
  outline: none;
  border-color: $accent-text-color;
}
.subscribe__button {
  padding: 10px 28px;
  margin-left: 12px;
  border-radius: 4px;
  border-color: $accent-text-color;
  border-style: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: inherit;
  color: $accent-white-color;
  background-color: $accent-text-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe__button:focus,
.subscribe__button:hover {
  background-color: $accent-text-color;
}
.subscribe__icon--button {
  margin-left: 10px;
  fill: currentColor;
}
.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  padding-top: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
