.header__container {
  display: flex;
  align-items: c;
}

.nav {
  display: flex;
  align-items: center;
}

.header {
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  border-bottom: 1px solid #ececec;
}
.logo-part {
  color: $primary-text-color;
  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-second-part {
  color: $accent-text-color;
}
.nav__list {
  display: flex;
  margin-left: 93px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__item:not(:last-child) {
  margin-right: 50px;
}
.nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
  color: $primary-text-color;
}
.nav__link:hover,
.nav__link:focus {
  color: $accent-text-color;
}

.nav__link::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: $accent-text-color;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:focus::after,
.nav__link:hover::after {
  opacity: 1;
}
.nav__link.current::after {
  opacity: 1;
}
.nav__link.current {
  color: $accent-text-color;
}

.contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__item:not(:last-child) {
  margin-right: 50px;
}
.contacts__link {
  text-decoration: none;
  color: $text-color;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover,
.contacts__link:focus {
  color: $accent-text-color;
}
.nav__link .current {
  color: $accent-text-color;
}
.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}
