$primary-text-color: #212121;
$text-color: #757575;
$accent-text-color: #2196f3;
$accent-white-color: #ffffff;
$bg-color: #2f303a;
$second-bg-color: #f5f4fa;
$border-color: #afb1b8;
$black-color: #000000;
